{{define "tailwind"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Askvart.com</title>
       <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
         {{template "navbartailwind"}}

        <div class="container-fluid">
            {{template "yield" .}}
            {{template "footer"}}
        </div>
    </body>
</html>
{{end}}