{{define "yield"}}

   <h1>A frequently asked questions</h1> 
    <p>list is often used in articles, websites,</p>
    <p>email lists, and online forums where common</p>
    <p> questions tend to recur, for example through</p>
    <p>  posts or queries by new users related to common knowledge gaps</p> 

{{end}}