{{define "yield"}}

     <h1>User Page Detail</h1>
        
        <div class="text-primary">
      <p>ID: {{.ID}}</p>
      <p>Имя: {{.Name }}</p>
      <p>Почта: {{ .Email}}</p>
      <p>Возраст: {{.Age}}</p>        
           
        </div>


{{end}}